@model IEnumerable<MyPersonalShortner.Lib.Domain.Url.CustomUrl>

@{
    ViewBag.Title = " - Custom Urls";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            Url
        </th>
        <th>
            CustomPart
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomPart)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>
